## Install dependencies

In [ ]:
# !pip install openpyxl
# !pip install pandas

## Set up environment and creds

In [ ]:
import os
import calendar
import pandas as pd
import logging as log
from google.cloud import bigquery as bq
from google.oauth2 import service_account

JSON_KEYS_PATH = '../json-keys/gch-prod-dwh01-data-pipeline.json'

# set up credentials for BQ and Drive to query data
credentials = service_account.Credentials.from_service_account_file(JSON_KEYS_PATH)
bq_client = bq.Client(credentials=credentials, project=credentials.project_id)

## Read expected results into a dataframe

In [3]:
expected_df = pd.read_excel('srp.xlsx', sheet_name='Sheet3', header=0)
all_dates = expected_df['date'].unique()

## Check if all unique dates are extracted correctly

In [4]:
all_dates

<DatetimeArray>
['2024-08-01 00:00:00', '2024-08-02 00:00:00', '2024-08-03 00:00:00',
 '2024-08-04 00:00:00', '2024-08-05 00:00:00', '2024-08-06 00:00:00',
 '2024-09-01 00:00:00', '2024-09-02 00:00:00', '2024-09-03 00:00:00',
 '2024-09-04 00:00:00', '2024-09-05 00:00:00', '2024-09-06 00:00:00',
 '2024-09-07 00:00:00', '2024-09-08 00:00:00', '2024-09-09 00:00:00',
 '2024-09-10 00:00:00', '2024-09-11 00:00:00', '2024-09-12 00:00:00',
 '2024-09-13 00:00:00', '2024-09-14 00:00:00', '2024-09-15 00:00:00',
 '2024-09-16 00:00:00', '2024-09-17 00:00:00', '2024-09-18 00:00:00',
 '2024-09-19 00:00:00', '2024-09-20 00:00:00', '2024-10-01 00:00:00',
 '2024-10-02 00:00:00', '2024-10-03 00:00:00', '2024-10-04 00:00:00',
 '2024-10-05 00:00:00', '2024-10-06 00:00:00', '2024-10-07 00:00:00',
 '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
 '2024-10-11 00:00:00', '2024-10-12 00:00:00', '2024-10-13 00:00:00',
 '2024-10-14 00:00:00', '2024-10-15 00:00:00']
Length: 41, dtype: datetime64[ns]

In [5]:
len(all_dates)

41

## Inspect expected_results df

In [6]:
expected_df.head()

        date  total_qty_sales  total_sales  total_margin
0 2024-08-01       21236.2142    126738.61      29163.94
1 2024-08-02       18902.6783    125851.20      29148.37
2 2024-08-03       26079.3416    169499.20      36124.83
3 2024-08-04       26414.1901    183690.14      39238.73
4 2024-08-05       20538.1360    129752.49      30793.10

### Rename ```total_sales_qty``` to ```total_qty_sales```

Somehow the name for ```total_qty_sales``` is not registered properly even after modification

In [7]:
expected_df = expected_df.rename(columns={
		'total_sales_qty': 'total_qty_sales'
})

## Inspect expected_df again

In [8]:
expected_df.head()

        date  total_qty_sales  total_sales  total_margin
0 2024-08-01       21236.2142    126738.61      29163.94
1 2024-08-02       18902.6783    125851.20      29148.37
2 2024-08-03       26079.3416    169499.20      36124.83
3 2024-08-04       26414.1901    183690.14      39238.73
4 2024-08-05       20538.1360    129752.49      30793.10

## Get all mismatched data

Join all mismatches into a dataframe

In [10]:
mismatch_df = pd.DataFrame()

for date in all_dates:
	# Convert to date string in the format BigQuery expects
	formatted_date = date.strftime('%Y-%m-%d')
	
	query = f"""
	SELECT
		date,
		SUM(total_qty_sales) AS total_qty_sales,
		SUM(total_sales) AS total_sales,
		SUM(total_margin) AS total_margin
	FROM `gch-prod-dwh01.srp.agg_possales_copy`
	WHERE date = DATE '{formatted_date}'
	GROUP BY date
	"""

	results_df = bq_client.query(query).to_dataframe()
	mismatch_df = pd.concat([mismatch_df, results_df], ignore_index=True, sort=False)

## Inspect the mismatched data

In [11]:
mismatch_df.head()

         date  total_qty_sales  total_sales  total_margin
0  2024-08-01       21236.2142    126738.61      29163.94
1  2024-08-02        9555.8705     43142.50      10286.87
2  2024-08-03       13903.5728     56188.88      11392.43
3  2024-08-04       13970.0486     64507.47      13068.66
4  2024-08-05       11566.8014     43778.06      10385.05

## Create a comparison table

Set ```different``` as ```True``` if there are any mismatches

In [12]:
comparison_df = pd.DataFrame({
	'date': mismatch_df['date'],
	'expected_total_qty_sales': round(expected_df['total_qty_sales'], 2),
	'cur_total_qty_sales': round(mismatch_df['total_qty_sales'], 2),
	'expected_sales': round(expected_df['total_sales'], 2),
	'cur_sales': round(mismatch_df['total_sales'], 2),
	'expected_margin': round(expected_df['total_margin'], 2),
	'cur_margin': round(mismatch_df['total_margin'], 2)
})

comparison_df['different'] = (
	(comparison_df['expected_total_qty_sales'] != comparison_df['cur_total_qty_sales']) | 
	(comparison_df['expected_sales'] != comparison_df['cur_sales']) | 
	(comparison_df['expected_margin'] != comparison_df['cur_margin'])
)

final = comparison_df[comparison_df['different'] == True]
final

,date,expected_total_qty_sales,cur_total_qty_sales,expected_sales,cur_sales,expected_margin,cur_margin,different
1,2024-08-02,18902.68,9555.87,125851.20,43142.50,29148.37,10286.87,True
2,2024-08-03,26079.34,13903.57,169499.20,56188.88,36124.83,11392.43,True
3,2024-08-04,26414.19,13970.05,183690.14,64507.47,39238.73,13068.66,True
4,2024-08-05,20538.14,11566.80,129752.49,43778.06,30793.10,10385.05,True
5,2024-08-06,17681.04,8887.90,117909.43,41002.67,28388.03,10172.05,True
6,2024-09-01,49528.28,36961.63,242350.43,130045.22,48560.80,28518.53,True
7,2024-09-02,31294.65,22319.64,155198.02,81353.18,36703.45,20537.51,True
8,2024-09-03,28378.46,19982.98,141119.85,71854.20,31294.49,15982.74,True
9,2024-09-04,29811.60,20794.01,144340.57,68739.65,33984.47,17213.83,True
10,2024-09-05,25794.20,16546.46,146966.12,63818.31,35814.37,16599.59,True
11,2024-09-06,29119.76,19294.43,162128.12,75524.57,36545.31,17798.33,True
12,2024-09-07,29600.28,17651.33,199885.31,90004.18,41599.24,18084.39,True
13,2024-09-08,34507.09,23062.37,210646.84,108693.44,43940.35,21521.14,True
14,2024-09-09,19889.78,11469.96,142821.78,71877.66,34960.12,17888.60,True
15,2024-09-10,21502.08,13252.05,139220.68,67109.82,34132.33,16366.66,True
16,2024-09-11,24406.38,16392.82,127743.81,62184.42,29988.14,14615.37,True
17,2024-09-12,20829.28,13253.18,130213.76,62018.66,30553.68,14569.93,True
18,2024-09-13,24948.90,16089.63,147938.14,70315.96,31863.30,14644.82,True
19,2024-09-14,28134.55,16620.18,194835.37,91414.96,40436.26,17982.28,True
20,2024-09-15,38625.71,25457.10,208898.31,91401.48,43160.71,18923.92,True
21,2024-09-16,29010.86,15768.86,205383.71,85195.97,41913.09,16158.54,True
22,2024-09-17,26152.11,16027.67,171693.03,78499.92,38005.55,16532.09,True
23,2024-09-18,20043.67,11911.43,133643.60,64065.98,32391.49,14426.20,True
24,2024-09-19,24925.38,15922.61,151484.62,69056.35,35842.93,15483.86,True
25,2024-09-20,22188.70,9454.85,173680.18,66354.91,38973.37,14289.46,True
26,2024-10-01,22926.26,7183.32,156067.21,31260.99,34730.14,7400.82,True
27,2024-10-02,25168.38,5118.63,152502.96,28012.83,34944.39,7352.49,True
28,2024-10-03,22948.14,6406.83,156062.23,26489.76,35073.84,7202.06,True
29,2024-10-04,27184.84,16893.99,175853.51,87422.82,40189.25,20020.11,True
30,2024-10-05,33794.41,20076.09,237045.67,106403.49,47754.77,19993.29,True
31,2024-10-06,36915.47,24571.07,222883.79,113855.65,46071.73,22842.29,True
32,2024-10-07,14414.00,5337.92,106481.13,28411.33,26896.89,8284.32,True
33,2024-10-08,20107.40,11368.28,104705.89,30089.09,26935.76,8798.09,True
34,2024-10-09,14494.90,5445.75,102534.27,28393.93,26340.53,8163.56,True
35,2024-10-10,13612.82,4490.72,142523.14,27133.88,29730.64,8223.69,True
36,2024-10-11,15684.82,5758.54,120143.14,35060.95,29828.38,10433.99,True
37,2024-10-12,23557.23,10937.82,161822.65,46033.42,37247.79,12392.16,True
38,2024-10-13,23038.19,10742.86,167305.63,56663.86,36337.73,12989.38,True
39,2024-10-14,12652.38,3959.21,106848.95,27311.88,27418.79,8723.88,True
40,2024-10-15,14002.73,5319.78,103898.66,26237.93,27155.96,7847.85,True