In [83]:
from pygcp.utils import *
import pandas as pd
import numpy as np

In [84]:
store_list_df = pd.read_excel('store_list.xlsx', sheet_name=1)
location_df = pd.read_excel('store_list.xlsx', sheet_name=2)

In [124]:
store_list_df.columns = [snake_case(col) for col in store_list_df.columns]
location_df.columns  = [snake_case(col) for col in location_df]

In [86]:
store_list_df.columns

Index(['unnamed:_0', 'site', 'site_name', 'area', 'banner',
       'remarks_closed_store'],
      dtype='object')

In [125]:
location_df.columns

Index(['site', 'site_name', 'branch_add', 'banner'], dtype='object')

In [88]:
store_list_df['banner'].unique()

array(['01.HYPERMARKET', '01.TMC - HYPERMARKET', '02.SUPERMARKET',
       '02. TMC - SUPERMARKET', '03.UPSCALE',
       '06.DISTRIBUTION CENTRE - GIANT',
       '07.DISTRIBUTION CENTRE - GIANT MINI', '04.GIANT MINI',
       '05.UNCLE JACK'], dtype=object)

In [89]:
location_df['banner'].unique()

array(['Giant Super', 'Giant Hyper', 'Upscale', 'Giant Mini',
       'Distribution Centre', 'HQ', 'UPSCALE'], dtype=object)

In [90]:
def update_banner(row):
	match row['banner']:
		case 'Giant Super':
			if 'TMC' not in row['site_name']:
				return '02.SUPERMARKET'
			else:
				return '02. TMC - SUPERMARKET'

		case 'Giant Hyper':
			if 'TMC' not in row['site_name']:
				return '02.HYPERMARKET'
			else:
				return '02. TMC - HYPERMARKET'

		case 'Upscale':
			return '03.UPSCALE'

		case 'Giant Mini':
			if 'DC' in row['site_name'] and 'Mini' in row['site_name']:
				return '07.DISTRIBUTION CENTRE - GIANT MINI'
			else:
				return '04.GIANT MINI'

		case 'Distribution Centre':
			if 'DC' in row['site_name'] and 'Mini' in row['site_name']:
				return '07.DISTRIBUTION CENTRE - GIANT MINI'
			else:
				return '06.DISTRIBUTION CENTRE - GIANT'

		case 'HQ':
			return ''

		case 'UPSCALE':
			return '03.UPSCALE'

		case _:
			return row['banner']

In [91]:
location_df['banner'] = location_df.apply(update_banner, axis=1)

In [92]:
location_df.head()

,site,site_name,branch_add,banner
0,1001,TMC SUPERMARKET (BANGSAR),"03-254290 23-27, LORONG ARA KIRI SA,\nLUCKY GA...",02. TMC - SUPERMARKET
1,1002,GIANT SUPERMARKET (KELANA JAYA),"NO. 2-8, SS 6/3,\nPUSAT BANDAR KELANA JAYA,\n4...",02.SUPERMARKET
2,1004,GIANT SUPERMARKET (ULU KLANG),"LOT 13793 & 13796,\nJALAN CHANGKAT PERMATA,\nT...",02.SUPERMARKET
3,1006,GIANT HYPERMARKET (PLENTONG JB),"NO.3, JALAN MASAI LAMA,\nMUKIM PLENTONG,\nMASA...",02.HYPERMARKET
4,1008,GIANT SUPERMARKET (AMPANG PNT),"LOT 36, GROUND FLOOR,\nAMPANG POINT SHOPPING C...",02.SUPERMARKET

In [93]:
location_df.tail()

,site,site_name,branch_add,banner
103,1062,GIANT HYPERMARKET KELANA JAYA,NaN,02.HYPERMARKET
104,1220,Mercato Metro Park,NaN,03.UPSCALE
105,1148,Giant Hypermarket Cheng Melaka,NaN,02.HYPERMARKET
106,1219,TMC Hartamas,NaN,02. TMC - SUPERMARKET
107,1242,MERCATO KULIM,"KULIM LANDMARK CENTRAL SHOPPING CENTRE,\nLOT 1...",03.UPSCALE

In [94]:
extract_location_df = location_df[['site', 'site_name', 'banner']]
concat_df = pd.concat([store_list_df, extract_location_df], ignore_index=True)
concat_df = concat_df.drop_duplicates(subset=['site', 'site_name', 'banner'], keep='first')

In [110]:
len(concat_df)

194

In [32]:
concat_df.to_excel('Concat Store List.xlsx', index=False)

In [33]:
concat_df.duplicated(subset=['site', 'site_name', 'banner'], keep='last').sum()

np.int64(0)

In [111]:
# df = pd.read_excel('Concat Store List.xlsx', sheet_name=0)
df = concat_df

In [112]:
df.head()

,unnamed:_0,site,site_name,area,banner,remarks_closed_store
0,NaN,1015,GIANT HYPERMARKET (S/ALAM STDM,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE
1,NaN,1164,GIANT HYPERMARKET KEMUNING UTA,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE
2,NaN,1133,GIANT HYPERMARKET PUTRA HEIGHT,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE
3,NaN,1163,GIANT HYPERMARKET SERI KEMBANG,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE
4,NaN,1147,GIANT HYPERMARKET SHAH ALAM,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE

In [113]:
display(
	df.duplicated(subset=['site'], keep='last').sum(),
	df.duplicated(subset=['site', 'site_name'], keep='last').sum()
)

np.int64(53)

np.int64(22)

In [114]:
df = df.drop_duplicates(subset=['site'], keep='first')

In [115]:
len(df)

141

In [ ]:
# # tmp = df[df['site_name'] == 'GIANT HYPERMARKET SHAH ALAM']
# tmp = df[df['site_name'] == 'Giant HQ']
# tmp

In [ ]:
for site in df['site'].unique():
	tmp_df = df[df['site'] == site]
	if len(tmp_df) != 1:
		print(site, len(tmp_df))

In [118]:
updated_store_list_df = df
updated_store_list_df.to_excel('Concat Store List2.xlsx' , index=False)

In [119]:
len(df)

141

In [120]:
updated_store_list_df

,unnamed:_0,site,site_name,area,banner,remarks_closed_store
0,NaN,1015,GIANT HYPERMARKET (S/ALAM STDM,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE
1,NaN,1164,GIANT HYPERMARKET KEMUNING UTA,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE
2,NaN,1133,GIANT HYPERMARKET PUTRA HEIGHT,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE
3,NaN,1163,GIANT HYPERMARKET SERI KEMBANG,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE
4,NaN,1147,GIANT HYPERMARKET SHAH ALAM,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE
...,...,...,...,...,...,...
236,NaN,9022,DC SEPANG,NaN,06.DISTRIBUTION CENTRE - GIANT,NaN
237,NaN,HQ,Giant HQ,NaN,,NaN
240,NaN,1220,Mercato Metro Park,NaN,03.UPSCALE,NaN
241,NaN,1148,Giant Hypermarket Cheng Melaka,NaN,02.HYPERMARKET,NaN
242,NaN,1219,TMC Hartamas,NaN,02. TMC - SUPERMARKET,NaN

In [126]:
update_from_loc = pd.read_excel('store_list.xlsx', sheet_name=2)
update_from_loc.head()

,site,site_name,branch_add,Banner
0,1001,TMC SUPERMARKET (BANGSAR),"03-254290 23-27, LORONG ARA KIRI SA,\nLUCKY GA...",Giant Super
1,1002,GIANT SUPERMARKET (KELANA JAYA),"NO. 2-8, SS 6/3,\nPUSAT BANDAR KELANA JAYA,\n4...",Giant Super
2,1004,GIANT SUPERMARKET (ULU KLANG),"LOT 13793 & 13796,\nJALAN CHANGKAT PERMATA,\nT...",Giant Super
3,1006,GIANT HYPERMARKET (PLENTONG JB),"NO.3, JALAN MASAI LAMA,\nMUKIM PLENTONG,\nMASA...",Giant Hyper
4,1008,GIANT SUPERMARKET (AMPANG PNT),"LOT 36, GROUND FLOOR,\nAMPANG POINT SHOPPING C...",Giant Super

In [133]:
merged_df = updated_store_list_df.merge(
	update_from_loc[['site', 'site_name', 'branch_add', 'Banner']],
    on='site',
    how='left',
    suffixes=('_excel', '_sheet')
)

In [134]:
len(merged_df)

141

In [135]:
merged_df.head()

,unnamed:_0,site,site_name_excel,area,banner,remarks_closed_store,site_name_sheet,branch_add,Banner
0,NaN,1015,GIANT HYPERMARKET (S/ALAM STDM,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE,Giant Hypermarket Stadium Shah Alam,"LOT 2,PERSIARAN SUKAN,SEKSYEN 13,SHAH ALAM",Giant Hyper
1,NaN,1164,GIANT HYPERMARKET KEMUNING UTA,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE,GIANT HYPERMARKET KEMUNING UTAMA,"NO 3, JALAN KEMUNING PRIMA E33/E,\nKEMUNING UT...",Giant Hyper
2,NaN,1133,GIANT HYPERMARKET PUTRA HEIGHT,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE,GIANT HYPERMARKET PUTRA HEIGHTS,"No. 3,\nPersiaran Putra Perdana,\n47650 Putra ...",Giant Hyper
3,NaN,1163,GIANT HYPERMARKET SERI KEMBANG,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE,GIANT HYPERMARKET SERI KEMBANGAN,"JALAN PUTRA PERMAI,\nBANDAR PUTRA PERMAI,\n433...",Giant Hyper
4,NaN,1147,GIANT HYPERMARKET SHAH ALAM,A1- HYPERMARKET,01.HYPERMARKET,ACTIVE STORE,GIANT HYPERMARKET SHAH ALAM,"GROUND FLOOR KOMERSIAL BLOK A,\nNO 2, JALAN PL...",Giant Hyper

In [ ]:
final_merged_df = merged_df[['site', 'site_name_excel', 'area', 'branch_add', 'banner', 'Banner', 'remarks_closed_store']]
final_merged_df.rename(columns={
    'Banner': 'Banner_old'
})

,site,site_name_excel,area,branch_add,banner,Banner_old,remarks_closed_store
0,1015,GIANT HYPERMARKET (S/ALAM STDM,A1- HYPERMARKET,"LOT 2,PERSIARAN SUKAN,SEKSYEN 13,SHAH ALAM",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
1,1164,GIANT HYPERMARKET KEMUNING UTA,A1- HYPERMARKET,"NO 3, JALAN KEMUNING PRIMA E33/E,\nKEMUNING UT...",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
2,1133,GIANT HYPERMARKET PUTRA HEIGHT,A1- HYPERMARKET,"No. 3,\nPersiaran Putra Perdana,\n47650 Putra ...",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
3,1163,GIANT HYPERMARKET SERI KEMBANG,A1- HYPERMARKET,"JALAN PUTRA PERMAI,\nBANDAR PUTRA PERMAI,\n433...",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
4,1147,GIANT HYPERMARKET SHAH ALAM,A1- HYPERMARKET,"GROUND FLOOR KOMERSIAL BLOK A,\nNO 2, JALAN PL...",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
...,...,...,...,...,...,...,...
136,9022,DC SEPANG,NaN,"GCH DISTRIBUTION CENTRE,\nBANDAR BARU SALAK TI...",06.DISTRIBUTION CENTRE - GIANT,Distribution Centre,NaN
137,HQ,Giant HQ,NaN,"Mezzanine Floor,\nGiant Hypermarket Shah Alam ...",,HQ,NaN
138,1220,Mercato Metro Park,NaN,NaN,03.UPSCALE,Upscale,NaN
139,1148,Giant Hypermarket Cheng Melaka,NaN,NaN,02.HYPERMARKET,Giant Hyper,NaN
140,1219,TMC Hartamas,NaN,NaN,02. TMC - SUPERMARKET,Giant Super,NaN

In [139]:
len(final_merged_df)

141

In [140]:
for site in final_merged_df['site'].unique():
    tmp_df = final_merged_df[final_merged_df['site'] == site]
    if len(tmp_df) != 1:
    	print(site, len(tmp_df))

In [141]:
final_merged_df.to_excel('Concat Store List3.xlsx', index=False)

In [142]:
final_merged_df

,site,site_name_excel,area,branch_add,banner,Banner,remarks_closed_store
0,1015,GIANT HYPERMARKET (S/ALAM STDM,A1- HYPERMARKET,"LOT 2,PERSIARAN SUKAN,SEKSYEN 13,SHAH ALAM",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
1,1164,GIANT HYPERMARKET KEMUNING UTA,A1- HYPERMARKET,"NO 3, JALAN KEMUNING PRIMA E33/E,\nKEMUNING UT...",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
2,1133,GIANT HYPERMARKET PUTRA HEIGHT,A1- HYPERMARKET,"No. 3,\nPersiaran Putra Perdana,\n47650 Putra ...",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
3,1163,GIANT HYPERMARKET SERI KEMBANG,A1- HYPERMARKET,"JALAN PUTRA PERMAI,\nBANDAR PUTRA PERMAI,\n433...",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
4,1147,GIANT HYPERMARKET SHAH ALAM,A1- HYPERMARKET,"GROUND FLOOR KOMERSIAL BLOK A,\nNO 2, JALAN PL...",01.HYPERMARKET,Giant Hyper,ACTIVE STORE
...,...,...,...,...,...,...,...
136,9022,DC SEPANG,NaN,"GCH DISTRIBUTION CENTRE,\nBANDAR BARU SALAK TI...",06.DISTRIBUTION CENTRE - GIANT,Distribution Centre,NaN
137,HQ,Giant HQ,NaN,"Mezzanine Floor,\nGiant Hypermarket Shah Alam ...",,HQ,NaN
138,1220,Mercato Metro Park,NaN,NaN,03.UPSCALE,Upscale,NaN
139,1148,Giant Hypermarket Cheng Melaka,NaN,NaN,02.HYPERMARKET,Giant Hyper,NaN
140,1219,TMC Hartamas,NaN,NaN,02. TMC - SUPERMARKET,Giant Super,NaN